* {
    box-sizing: border-box;
}

.page {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
}

.link {
    cursor: pointer;
    color: blue;
}

.link:hover {
    color: lightblue;
    text-decoration: underline;
}

.header {
    height: 10rem;
    width: 100%;
    background-color: #239EC1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__title {
    font-size: 3rem;
    font-weight: 600;
}

.header__link {
    color: cornsilk;
    text-decoration: none;
}
.header__link:hover {
    color: ivory;
    text-decoration: underline;
}

.content {
    margin: 20px auto;
    padding: 0 0.5rem;
    width: 64rem;
}

.code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

.code:before, .code:after {
    letter-spacing: -0.2em;
    content: "\00a0";
}

.note {
    display: flex;
    align-items: center;
    border: 1px solid #FBF4E3;
    height: 3rem;
    background-color: #FFFFF9;
    padding: 0 10px;
}

.icon {}

.icon_info {
    color: cornflowerblue;
}

.icon_close {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.heading {
    font-weight: 400;
    padding: 1rem 0;
}

.heading_h1 {
    font-weight: 600;
    font-size: 1.7rem;
}

.heading_h2 {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
}

.heading_h3 {
    font-size: 1.1rem;
    padding-bottom: 0;
    color: #0077BF;
}

button {
    padding: 0.5rem 1.5rem;
    border: none;
    background: transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

button:active {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}