// default values
$modal-max-width: 960px !default;
$modal-width: 80% !default;

$modal-background-color: #fff !default;
$overlay-background-color: #000 !default;
$overlay-background-opacity: 0.4 !default;