@import "settings";

.modal-overlay {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba($overlay-background-color, $overlay-background-opacity);
    z-index: 1400;
    display: none;
}

.modal {
    position: absolute;
    left: 0;
    right: 0;
    width: $modal-width;
    margin: 0 auto;
    max-width: $modal-max-width;
    background-color: $modal-background-color;
    z-index: 1488;
    padding: 1.5rem;
    display: none;
    opacity: 0;
    bottom:auto;
}
